<div class="card border-primary">
    <h5 class="card-header">
        Proposal ID: <%- proposal.pid %>
    </h5>
    <div class="card-body">
        <h5 class="card-text">Title: <%- proposal.title %></h5>
      <p class="card-text">Description: <%- proposal.description %></p>
      <div class="row mt-3 mb-1">
        <div class="p-1 col-sm bg-success text-white">
            Yea: <%- proposal.numyes %>
        </div>
        <div class="p-1 col-sm bg-danger text-white">
            Nay: <%- proposal.numno %>
        </div>
      </div>
      <div class="row mb-3 mt-1">
          <div class="p-1 col-sm bg-info text-white">
              Total Number of Votes: <%- proposal.numyes + proposal.numno %>
          </div>
      </div>
      <a href="/proposals/votes?pid=<%- proposal.pid %>" class="btn btn-secondary">
        <i class="fa fa-vote-yea" aria-hidden="true"></i>
        View Vote Data
    </a>
      <a href="/proposals/delete/<%- proposal.pid %>" class="btn btn-secondary">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete Proposal
    </a>
    </div>
    <div class="card-footer text-muted">
        Start: <%- new Date(proposal.starttime) %>
        <hr>
        End: <%- new Date(proposal.endtime) %>
    </div>
</div>