<div class="card border-primary">
    <h5 class="card-header">
        Event ID: <%- event.eid %>
    </h5>
    <div class="card-body">
        <h5 class="card-text">Title: <%- event.title %></h5>
      <p class="card-text">Description: <%- event.description %></p>
      <div class="row my-1">
          <div class="p-1 col-sm bg-info text-white">
            Number of Attenders: <%- event.numattenders %>
          </div>
      </div>
      <a href="/events/delete/<%- event.eid %>" class="btn btn-secondary">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete Event
    </a>
    </div>
    <div class="card-footer text-muted">
        Date: <%- new Date(event.date) %>
    </div>
</div>